// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Corb colours:
$tagline: #39353a;
$corb-blue: #1b75bc;
$corb-red: #f15a29;
$corb-orange: #f7931e;
$corb-green: #70bf44;
$muted-gray: #6d6f71;
