<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Corb Limited are commited to making you happy, whatever the cost!</h1>
    <p>Let our well trained team of professionals take care of all your electrical contracting needs...</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container my-5">
    <h1 class="text-center">Services</h1>
    <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80)">
            Retail & Leisure
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
            Commercial Offices
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1335&q=80)">
            Education & Healthcare
        </div>
    </div>
</div>

<div class="text-center my-5">
    <a class="btn btn-green" href="#">Find out more about our services</a>
</div>

<div class="more-cards">
    <div class="single-card">
        <h5 class="">About Us</h5>
        <p class="text-muted">We are Electrical, Mechanical and Fire contractors with UK wide coverage. We carry out planned and reactive maintenance with our 24/7 emergency help desk, and deliver large projects to the highest of standards.</p>
        <p class="text-muted">We pride ourselves on our fantastic client relationships delivering the very best customer service.</p>
        <p class="text-muted">Get to know the team below and contact us to see how we can help your business.</p>
        <div class="text-center">
            <a class="btn btn-flat" href="#">Meet our team</a>
        </div>
    </div>
    <div class="single-card">
        <h5 class="">Our story</h5>
        <p class="text-muted">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <div class="text-center">
            <a class="btn btn-flat" href="#">More info</a>
        </div>
    </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Kurt Peniket
  </div>
</div>
