<div class="container my-5">
    <h1 class="text-center">Services</h1>
    <div class="cards">
        <div class="card-category" style="background-color: #1b75bc">
            Electrical & Mechanical
        </div>

        <div class="card-category" style="background-color: #f15a29">
            Fire
        </div>

        <div class="card-category" style="background-color: #f7931e">
            Maintainence
        </div>
        <div class="card-category" style="background-color: #70bf44">
            Projects & Design
        </div>

        <div class="card-category" style="background-color: #1b75bc">
            Structured Cabling
        </div>

        <div class="card-category" style="background-color: #70bf44">
            Testing & Compliance
        </div>
    </div>
</div>